@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,200&family=Roboto+Slab:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:ital,wght@0,100;0,200;0,400;1,200&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200&family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 700vh;
    scroll-behavior: smooth;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    height: 11vh;
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.8s;
}
.menu.rolagem {
    background-color: rgb(102, 102, 80);
    padding: 20px 4%;
    z-index: 50;
}

.menu .rolagem .cntt{
    color: white;
}
.menu.rolagem a{
    color: rgb(255, 255, 255);
}
.menu .rolagem .cntt{
    color: white;
}
.logo{
    letter-spacing: 4px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
}
header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin: 0 40px;
}
header .ai{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
}
header .ai:hover{
    border-bottom: 2px solid rgb(185, 185, 118);
    width: 100%;
}
#banner{
    background-image: url(img/fundo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
#combinações{
    box-shadow: 0px 0px 40px 0px rgb(60, 58, 58);
    height: 100vh;
}
#continua{
    background-color: rgb(238, 229, 219);
    height: 100vh;
}
.escritas{
    padding-left: 12%;
    padding-top: 17%;
}
.escritas h1{
    margin-left: 5%;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-weight: 500;
}  
.escritas h2{
    font-size: 30px;
    margin-left:9%;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    color: #776c6c;
}
#botao{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left:19%;
    padding: 15px 15px 15px;
    margin-top: 40px;
    background-color: rgb(148, 148, 75);
    border:1px solid rgb(221, 221, 157);
    transition: 0.5s;
}
#botao:hover{
    color: black;
    background-color: #ebdf9c;
}
#sobre{
    background-color: rgb(221, 221, 157);
}
#combinações{
    background-color: rgb(238, 229, 219);
}
.buton{
    background-color: rgb(102, 102, 80);
    color: white;
    border: 0px;
    padding: 8px 8px 8px;
    transition: all 0.5s;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.buton:hover{
    cursor: pointer;
    color: white;
    border: 1px solid bisque;
    background-color: rgb(218, 194, 164);
}
section{
    height: 100vh;
    width: 100%;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
}
.title-2{
    letter-spacing: 5px;
    color:rgb(0, 0, 0) ;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-top:7%;
    padding-left: 35%;
}


div.slider{
    margin: 0 auto;
    width:80%;
    height: auto;
    padding: 0;
    overflow: hidden;

}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: all 0.7s;
}
.slide-box img{
    border-radius: 15px;
    margin-top: 2%;
    width: 38%;
}
.img-desktop{
    height: 440px;
    width: 240px;
    transition: all 0.5s;
   border: 1px solid rgb(218, 194, 164);
}
.img-desktop:hover{
    opacity: 0.5;   
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 80%;
    display: flex;
    margin-top: 32%;
    justify-content:center ;
}
.nav-manual .manual-btn{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    transition: all 0.6s;
    cursor: pointer;
}
.nav-manual .manual-btn:not(:last-child){
    margin-right: 10px;
}
.nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: rgb(221, 221, 157);
}
.nav-auto div{
    border: 1px solid rgb(221, 221, 157);
    padding: 10px;
    border-radius: 20px;
    transition: all 0.6s;
    cursor: pointer;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: rgb(116, 116, 78);
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: rgb(116, 116, 78);
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: rgb(116, 116, 78);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
.nav-escolhas{
    width: 60%;
    background-color: rgb(50, 50, 39);
    height:36vh;
    position: relative;
    top: 25%;
    padding-top: 110px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
}
   
.nav-escolhas a{
   justify-content: center;
    letter-spacing: 2px;
    margin-right: 50px;
    font-size: 23px;
    color: white;
    transition: 0.6s;
}
.nav-escolhas a:hover{
    opacity: 0.5;
}
.ul-escolhas{
    display: flex;
    list-style: none;
    display: flex;
    justify-content: center;
}
.cnhç{
    padding-top: 8%;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}
#casual{
    height: 100vh;
    background-color: rgb(237, 206, 171);
}
#pingente{
    height: 100vh;
    background-color: #141313;
}
#duplo{
    height: 100vh;
    background-color: rgb(237, 206, 171);
}
#ouro{
    height: 100vh;
    background-color: #141313;
}
.casuall{
    justify-content: center;
    padding-top: 5%;
    display: flex;
    list-style: none;
}
.casuall li{ 
    transition: 0.2s;
    padding-right: 30px;
    border-radius: 5px;
}
.casuall li:hover{
    opacity: 0.5;

}
.pingente{
    justify-content: center;
    padding-top: 5%;
    display: flex;
    list-style: none;
}
.pingente li{
    transition: 0.2s;
    padding-right: 30px;
    border-radius: 5px;
}
.pingente li:hover{
    opacity: 0.5;
}
.ouro{
    justify-content: center;
    padding-top: 5%;
    display: flex;
    list-style: none;
}
.ouro li{
    transition: 0.2s;
    padding-right: 30px;
    border-radius: 5px;
}
.ouro li:hover{
    opacity: 0.5;
}
.duplo{
    justify-content: center;
    padding-top: 5%;
    display: flex;
    list-style: none;
}
.duplo li{
    transition: 0.2s;
    padding-right: 30px;
    border-radius: 5px;
}
.duplo li:hover{
    opacity: 0.5;
}
.produtos{
    text-align: center;
    color: white;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(50, 50, 39) ;
    padding: 10px;
    border-radius: 2px;
}
.elemento{
    letter-spacing: 5px;
    padding-top: 80px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
#pi{
    color: white;
    font-size: 35px;
    padding-left: 48%;
}

/*FOOTER*/
#footer{
    width: 100%;
    height: 20vh;
    justify-content: space-between;
    background-color: #636053;
    display: flex;
}
.footer-content{
    padding-top: 15px;
    display: flex;
}
.log{
    padding-left: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 26px;
}
#instagram{
    font-size: 25px;
    color: white;
    margin-top: 1rem;
    float: right;
}
#whatsapp{
    margin-top: 1rem;
    float: right;
    margin-right: 9px;
    font-size: 25px;
    color: white;
}
#footer2{
    padding-top: 15px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color:#2e2d29;
}
.foot{
    font-size: 15px;
    text-align: center;
    color: white;
}

.acesso{
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}
.acesso-rapido{
    list-style: none;
}
.acesso-rapido a{
    color: white;
}
h3{
    padding-top: 15px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;

}
h5{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}


/*SOBRE*/
#sobre{
    height: 100vh;
    background-image: url(img/backg.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.titulo{
    text-align: center;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    
}
.sub{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
}
.principal{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    background-color:#636053 ;
    padding: 20px;
    border-radius: 20px;
    width: 40%;
}
.fleex{
    border-radius: 15px;
    padding: 2px;
    border: 1px solid rgb(236, 236, 111);
}










@media (max-width:1080px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    .buton{
        background-color: rgb(102, 102, 80);
        color: white;
        border: 0px;
        margin: 0;
        font-size: 20px;
        padding: 8px 8px 8px;
        transition: all 0.5s;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .buton:hover{
        cursor: pointer;
        color: white;
        border: 1px solid bisque;
        background-color: rgb(218, 194, 164);
    }
    
    html{
        height: 100vh;
        scroll-behavior: smooth;
    }
    .container{
        max-width: 1080px;
        margin: auto;
    }
    .flex{
        display: flex;
        align-items: center;
    }
    .menu{
        height: 11vh;
        width: 90%;
        padding: 40px;
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.8s;
    }
    .menu{
        padding: 20px 4%;
        z-index: 50;
    }
    .menu .cntt{
        color: white;
        font-size: 20px;
    }
    .menu a{
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .menu .cntt{
        color: white;
    }
    .logo{
        letter-spacing: 4px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: rgb(0, 0, 0);
    }
    header ul{
        list-style-type: none;
    }
    header ul li{
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
    }
    header .ai{
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.5s ease-in-out;
        border-bottom: 2px solid transparent;
    }
    header .ai:hover{
        border-bottom: 2px solid rgb(185, 185, 118);
        width: 100%;
    }
    header .ai{
        color: rgb(0, 0, 0);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.5s ease-in-out;
        border-bottom: 2px solid transparent;
    }
    header .ai:hover{
        border-bottom: 2px solid rgb(185, 185, 118);
        width: 100%;
    }
    .escritas{
        padding-left: 8%;
        padding-top: 20%;
    }
    .escritas h1{
        padding-top: 100px;
       margin: 0;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 5px;
        font-weight: 500;
    }  
    .escritas h2{
        font-size: 34px;
        margin-left:7%;
        padding-top: 20px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 3px;
        font-weight: 500;
        color: #776c6c;
    }
    #botao{
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-left:25%;
        font-size: 20px;
        padding: 20px;
        margin-top: 45px;
        background-color: rgb(148, 148, 75);
        border:1px solid rgb(221, 221, 157);
        transition: 0.5s;
    }
    #pi{
        color: rgb(255, 255, 255);
        font-size: 45px;
        padding-left: 48%;
        margin-top: 10%;
    }
    #combinações{
        box-shadow: 0px 0px 40px 0px rgb(60, 58, 58);
        height: 100vh;
    }

    .title-2{
        letter-spacing: 5px;
        color:rgb(0, 0, 0) ;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        padding-top:15%;
        padding-left: 15%;
    }
    div.slider{
        margin: 0 auto;
        width:90%;
        height: auto;
        padding: 0;
        overflow: hidden;
    
    }
    
    .slider-content{
        width: 400%;
        height: auto;
        display: flex;
    }
    .slider-content input{
        display: none;
    }
    .slide-box{
        width: 25%;
        height: auto;
        position: relative;
        text-align: center;
        overflow: hidden;
        transition: all 0.7s;
    }
    .slide-box img{
        border-radius: 15px;
        margin-top: 2%;
        width: 60%;
    }
    .img-desktop{
        height: 440px;
        width: 240px;
        transition: all 0.5s;
       border: 1px solid rgb(218, 194, 164);
    }
    .img-desktop:hover{
        opacity: 0.5;   
    }
    .nav-manual, .nav-auto{
        position: absolute;
        width: 80%;
        display: flex;
        margin-top: 57%;
        justify-content:center ;
        margin-left: 6%;
    }
    .nav-manual .manual-btn{
        border: 1px solid rgb(0, 0, 0);
        padding: 15px;
        border-radius: 20px;
        transition: all 0.6s;
        cursor: pointer;
    }
    .nav-manual .manual-btn:not(:last-child){
        margin-right: 10px;
    }
    .nav-auto div:not(:last-child){
        margin-right: 10px;
    }
    .nav-manual .manual-btn:hover{
        background-color: rgb(221, 221, 157);
    }
    .nav-auto div{
        border: 1px solid rgb(221, 221, 157);
        padding: 15px;
        border-radius: 20px;
        transition: all 0.6s;
        cursor: pointer;
    }
    
    #radio1:checked ~ .nav-auto .auto-btn1{
        background-color: rgb(116, 116, 78);
    }
    #radio2:checked ~ .nav-auto .auto-btn2{
        background-color: rgb(116, 116, 78);
    }
    #radio3:checked ~ .nav-auto .auto-btn3{
        background-color: rgb(116, 116, 78);
    }
    
    #radio1:checked ~ .primeiro{
        margin-left: 0%;
    }
    #radio2:checked ~ .primeiro{
        margin-left: -25%;
    }
    #radio3:checked ~ .primeiro{
        margin-left: -50%;
    }
    .nav-escolhas{
        width: 60%;
        background-color: rgb(50, 50, 39);
        height:36vh;
        position: relative;
        top: 25%;
        padding-top: 110px;
        border-radius: 15px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
       
    .nav-escolhas a{
       justify-content: center;
        letter-spacing: 2px;
        margin-right: 10px;
        font-size: 20px;
        color: white;
        transition: 0.6s;
    }
    .nav-escolhas a:hover{
        opacity: 0.5;
    }
    .ul-escolhas{
        display: flex;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    .principal{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
        background-color:#636053 ;
        padding: 20px;
        border-radius: 20px;
        width: 60%;
    }
    .sub{
        font-size: 22px;
    }
}

